.rc-md-editor {
    background-color: var(--surface-ground);
    border-color: var(--surface-border);
}

.rc-md-editor:focus-within {
    border-color: var(--primary-color);
}

.rc-md-navigation.visible {
    background-color: var(--surface-ground);
}

.rc-md-editor .editor-container .sec-md .input {
    background: var(--surface-ground);
    border-color: var(--surface-border);
    border: 1px solid var(--surface-border);
    color: var(--text-color);
    font-family: var(--font-family), serif;
    font-size: 1rem;
    min-height: 15rem;
}


.p-float-label.md-editor label {
    top: 4rem;
}

.rc-md-editor:focus-within ~ label {
    top: -0.5rem;
}

.p-float-label.md-editor.has-value label {
    top: -0.7rem;
}

